body{
  background-color: #F9F9F9;
  font-family: "Lato";
}

.textContainer{
  /* margin-top: 10%; */
 
  font-family: 'Lato';
  font-weight:500;
 font-size: 16px;
  text-align:left;
  line-height: 2;
  letter-spacing: 1.5px;


}

.start{
  width:15rem;
  height: 2.5rem;
  box-shadow: #1c4b82;
  background-color: #1c4b82;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  align-self: center;
}

p{
  
  align-self: center;
}
.quiNav{

 width: 100%;
}

.containerQuiz{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* min-height: 100vh; */
}

.containerQuiz:last-child{
  /* background-color: aqua; */

}


.footer {
  margin-top: auto;
}
.container{
   display: flex;
   flex-direction: column;
   /* flex: 1; */
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   margin-bottom:10%;
   gap: 90px;
    padding-left: 12%; 
   padding-right:  12%;
}
.imagebackground {
  width: 100%;
  height: 70%;
 
}



 .logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60%; 
    width: 100%; 
  margin-bottom: 0;
  /* z-index: 1; */
  }

  .underline{
  
    width:8%;
    background-color: #CD6214;
    padding-top: 5px;
    border-radius: 100px;
    margin-top: 10px;
  }
  .product{
    font-size: 40px;
    color: white;
    font-weight: 600;
    padding-left: 15%;
    padding-right: 15%;
    font-family: "Lato";


  }
  .assessmentContainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
  }
  .questiontext{
    font-size: 36px;
    font-weight: bolder;
    color: #2C2C2C;
      font-family: "Lato";

  }
  .instructiontext{
    font-size: 20px;
    /* font-weight: 600; */
    color: #2C2C2C;
    /* margin-bottom: 33px; */
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: "Lato";

  }
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left: 20px; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Optional: add some space between list items for better readability */
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 20px; /* Optional: add some space between list items for better readability */
}
  .question{
    font-size: 20px;
    font-weight: 600;
    color: #2C2C2C;
    /* margin-bottom: 33px; */
    margin-bottom: 20px;

  }
  .continue{
    width:10rem;
    height:3rem;
 
    background-color: #1c4b82;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: "Nunito";
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  .continuebutton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
   padding-bottom: 500px;
   margin-right: 13%;
  }

  .textContainer span {
    color: #CD6214;
    text-decoration: underline;
   
}
.backimage {
  background: url('../assets/quizbackground.png') no-repeat center center;
  background-size: cover;
  height: 38vh;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  z-index: -1;

}

/* .imgcontainer{
  position:absolute;
 display: flex;
 flex-direction: column;
/* align-content: flex-end; */
  /* width: 100%;
  z-index: 1;
  right: 0;
} */ 
.instructionimage{
  position:absolute;
    margin-right: 10%;
   right: 0;
   
}
 


@media (min-width: 300px) and (max-width: 366px) {
  .instructionimage{
    margin-top: 6vh;
    width: 17rem;

    right: 0;
  }
  .backimage {
  
    height: 12.5em;
    border-radius: 0px 0px 30px 30px;
  
  
  }
  .product{
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .start{  
    width:15rem;
    height: 2.5rem;
    box-shadow: #1c4b82;
    background-color: #1c4b82;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    align-self: center;
  }
  .continue{
    width:8rem;
    height:2.5rem;
    text-align: center;
  
  
  }
  .continuebutton{
  
   margin-right: 10%;
  }
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
   margin-top: 2.7vh;
    width: 12rem;

    right: 0;
  }

  .assessmentContainer{
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 2%;
  }

  .questiontext{
    font-size: 2.5rem;      /* oussema */
 

  }
  .underline{
  
    width:13%;

    padding-top:3px;
    margin-top: 0.5em;
  }
  .instructiontext{
    font-size: 10px;

    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 9.5px;
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 11px; /* oussema */
}
.instructiontext ul {
  list-style-type: disc; /* Ensure the list style is set to bullets */
  padding-left:5%; 
}
.textContainer ,.textContainer span{
  /* margin-top: 10%; */
 
  font-family: 'Lato';
  font-weight:500;
 font-size: 0.8rem;
  text-align:left;
  line-height: 2;
  letter-spacing: 1.5px;


}
.container{
   
  gap: 3rem;
   padding-left: 12%; 
  padding-right:  12%;
}
}

@media (min-width: 366px) and (max-width: 380px) {
  .container{
   
    gap: 3rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
 .textContainer,.textContainer span{

 
  font-family: 'Lato';
  font-weight:500;
 font-size: 1rem;
  text-align:left;
  line-height: 2;
  letter-spacing: 1.5px;


}
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
    margin-top: 4rem;
    width: 15rem;

    right: 0;
  }
  .backimage {
  
    height: 14.5em;
    border-radius: 0px 0px 30px 30px;
  
  
  }
  .product{
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }

  .underline{
  
    width:13%;

    padding-top:3px;
    margin-top: 1em;
  }
  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
  }
  .questiontext{
    font-size: 1.5rem;
 

  }
  .instructiontext{
    font-size: 1em;

    margin-bottom: 20px;
    margin-top: 2.2rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:5%; 
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 10px;
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 11px; /* Oussema */
}
.continue{
  width:8rem;
  height:2.5rem;
  text-align: center;


}
.continuebutton{

 margin-right: 10%;
}
.start{  
  width:15rem;
  height: 2.5rem;
  font-size: 1em;

}
}

@media (min-width: 380px) and (max-width: 470px) {
  .container{
   
    gap: 5rem;
  }
  .textContainer{

   font-size: 1.2rem;
    text-align:left;
    line-height: 2;
    letter-spacing: 1.5px;
  
  
  }
  .underline{
  
    width:15%;

    padding-top:2px;
    margin-top: 0.5em;
  }
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
    margin-top: 5vh;
    width: 15rem;
    margin-right: 9%;
    right: 0;
  }
  .backimage {
  
    height: 16em;
    border-radius: 0px 0px 35px 35px;
  
  
  }
  .product{
    font-size: 1.4rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }


  

  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 15px;

    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:4.5%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Ooussema */
    font-size: 10px;
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 11px; /* Ooussema */
}
.continuebutton{

  margin-right: 10%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
.start{  
  width:15rem;
  height: 3rem;
  box-shadow: #1c4b82;
  background-color: #1c4b82;
  color: white;
  font-size: 1.2em;
 
}
}

@media (min-width: 470px) and (max-width: 530px) {
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 15rem;

    right: 0;
  }
  .backimage {
  
    height: 15em;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .product{
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }


  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }


  

  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 15px;

    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; 
    padding-left:4.5%; 
}

.instructiontext li {
    margin-bottom: 10px;
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 11px; 
}
.continuebutton{

  margin-right: 10%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
.textContainer {

   
  font-family: 'Lato';
  font-weight:500;
 font-size: 1em;
  text-align:left;
  line-height: 2;
  letter-spacing: 1.5px;


}
.start{  
  width:15rem;
  height: 2.5rem;
  box-shadow: #1c4b82;
  background-color: #1c4b82;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  align-self: center;
}
.container{
   
  gap: 3rem;
   padding-left: 12%; 
  padding-right:  12%;
}
}


@media (min-width: 530px) and (max-width: 575px) {

  .textContainer{

   
    font-family: 'Lato';
    font-weight:500;
   font-size: 1em;
    text-align:left;
    line-height: 2;
    letter-spacing: 1.5px;
  
  
  }
  .container{
   
    gap: 8rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 17rem;
    margin-right: 7%;
    right: 0;
  }
  .backimage {
  
    height: 16.2rem;
    border-radius: 0px 0px 35px 35px;
  
  
  }
  .product{
    font-size: 1.7rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }

  

  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 15px;

    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; 
    padding-left:4.5%; 
}

.instructiontext li {
    margin-bottom: 10px;
     /* oussema */
  
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 11px;     /* oussema */
}
.continuebutton{

  margin-right: 10%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
}
@media (min-width: 575px) and (max-width: 650px) {
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 18rem;
    margin-right: 7%;
    right: 0;
  }
  .backimage {
  
    height: 16.5em;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 16px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 18px; /* Oussema */
}
  .product{
    font-size: 1.6rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }


  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .textContainer ,.textContainer span{
    /* margin-top: 10%; */
   
    font-family: 'Lato';
    font-weight:500;
   font-size: 1rem;
    text-align:left;
    line-height: 2;
    letter-spacing: 1.5px;
  
  
  }
  .start{  
    width:15rem;
    height: 2.5rem;
    box-shadow: #1c4b82;
    background-color: #1c4b82;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    align-self: center;
  }
  .container{
   
    gap: 3rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
}


@media (min-width: 650px) and (max-width: 700px) {
  .logoimag{
    width: 8rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 19rem;
   
    margin-right: 8%;
    right: 0;
    right: 0;
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 18px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 18px; /* Oussema */
}
  .backimage {
  
    height: 17.5rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .product{
    font-size: 1.7rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }


  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .textContainer ,.textContainer span{
    /* margin-top: 10%; */
   
    font-family: 'Lato';
    font-weight:500;
   font-size: 1rem;
    text-align:left;
    line-height: 2;
    letter-spacing: 1.5px;
  
  
  }
  .start{  
    width:15rem;
    height: 2.5rem;
    box-shadow: #1c4b82;
    background-color: #1c4b82;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    align-self: center;
  }
  .container{
   
    gap: 3rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
}


@media (min-width: 700px) and (max-width: 760px) {
  .logoimag{
    width: 9rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 18rem;

    right: 0;
  }
  .backimage {
  
    height: 16.5rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 18px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 18px; /* Oussema */
}
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%;
 


  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .textContainer{

   
    font-family: 'Lato';
    font-weight:500;
   font-size: 1em;
    text-align:left;
    line-height: 2;
    letter-spacing: 1.5px;
  
  
  }
  .container{
   
    gap: 8rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
}
@media (min-width: 760px) and (max-width: 800px) {
  .container{
   
    gap: 5rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
  .logoimag{
    width: 10rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 20rem;

    right: 0;
  }
  .backimage {
  
    height:18rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    margin-top: 1vh;
    font-size:2em;
    padding-left: 10%;
    padding-right: 10%;
 


  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }


  

  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 20px;

    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:3%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 20px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 20px; /* Oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
}


/* 
@media (max-width: 700px) {
  .textContainer{
   
   
    font-family: 'Lato';

   font-size: 10px;
    text-align:left;
    line-height: 1.9;
  
  
  }
} */
/* @media (max-width: 400px) {
   
  .textContainer{
   
   
    font-family: 'Lato';

   font-size: 1.2em;
    text-align:left;
    line-height: 1.9;
  
  
  }
  .instructionimage{
    
  
  }
  .logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50%; 
    width: 100%; 
  margin-bottom: 0;
  /* z-index: 1; */
  /* }
  .logoimag{
    width: 40%;
  }

  .product{
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding-left: 15%;
    padding-right: 15%;


  }
  .backimage {
    background: url('../assets/quizbackground.png') no-repeat center center;
    background-size: cover;
    height: 20%;
    border-radius: 0px 0px 50px 50px;
  }
  .container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 10%;
    gap: 50px;
    padding-left: 2%;
    padding-right:  2%;
 }
}  */
@media (min-width: 800px) and (max-width: 876px) {
  .container{
   
    gap: 4rem;
   
  }
  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:3%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 20px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 20px; /* Oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
  .logoimag{
    width: 10rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 20rem;

    right: 0;
  }
  .backimage {
  
    height:18rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    font-size:1.8em;
    padding-left: 10%;
    padding-right: 10%;
 


  }


  
}


@media (min-width: 876px) and (max-width: 900px) {
  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:3%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 15px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 15px; /* Oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}

  .logoimag{
    width: 10rem;
  }
  .instructionimage{
    margin-top: 6vh;
    width: 22rem;

    right: 0;
  }
 
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    font-size:1.8em;
    padding-left: 10%;
    padding-right: 10%;
 


  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:3%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 20px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 20px; /* Oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
.backimage {
  
  height:19rem;
  border-radius: 0px 0px 40px 40px;


}
}
@media (min-width: 900px) and (max-width: 940px) {}
@media (min-width: 900px) and (max-width: 940px) {
  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:3%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Ouseema */
    font-size: 15px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 15px; /* Ouseema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}

  .logoimag{
    width: 10rem;
  }
  .backimage {
  
    height:19rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    font-size:1.8em;
    padding-left: 10%;
    padding-right: 10%;
 


  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .questiontext{
    font-size: 2rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:3%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* oussema */
    font-size: 20px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 20px; /* oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
  .instructionimage{
    margin-top: 5vh;
    width: 22.5rem;
    right: 0;
  }
}
@media (min-width: 940px) and (max-width: 1020px) {
  
  .backimage {
  
    height:19.5rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .instructionimage{
    margin-top: 5vh;
    width: 23.5rem;

    right: 0;
  }

.questiontext{
    font-size: 2.5rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:2%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 20px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 17px; /* Oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
  .logoimag{
    width: 10rem;
  }

  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    font-size:2em;
    padding-left: 10%;
    padding-right: 10%;
 


  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .container{
   
    gap: 5rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
}
@media (min-width: 1021px) and (max-width: 1082px) {
  .questiontext{
    font-size: 2.5rem;
 

  }
  .instructiontext{
    font-size: 20px;
  margin-top: 5.5vh;
    margin-bottom: 20px;
    margin-top: 1rem;
 

  }
  
  
  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left:2%; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
.continuebutton{

  margin-right: 17%;
 }
 .continue{
  width:9rem;
  height:2.5rem;



}
  .logoimag{
    width: 10rem;
  }
  .instructionimage{
     margin-top: 4.5vh;
     width: 23rem; 
  
     right: 0;
   }
   .backimage {
  
    height:18.5rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .product{
    margin-top: 1vh;
    font-size:2em;
    /* padding-left: 10%;
    padding-right: 10%; */
 


  }
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .product{
    font-size:2em;
    padding-left: 10%;
    padding-right: 10%;
 


  }

  
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .container{
   
    gap: 5rem;
     padding-left: 12%; 
    padding-right:  12%;
 }
  
}
@media (min-width: 1082px) and (max-width: 1200px) {
  .instructionimage{
    margin-top: 5.5vh;
     width: 22rem;
     margin-right: 9%;
     right: 0;
   }
  .backimage {
  
    height: 18.5rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .logoimag{
    width: 12rem;
  }
  
  .product{
    margin-top: 0.2rem;
    font-size:2em;
    /* padding-left: 10%;
    padding-right: 10%; */
 


  }


}

@media (min-width: 1200px) and (max-width: 1300px) {
  .backimage {
  
    height:19rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .product{
    font-size: 36px;
    padding-left: 10%;
    padding-right: 10%;
 


  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
  .assessmentContainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
  .instructionimage{
    width: 27rem;
    /* margin-top: 5em; */
     right: 0;
   }
   .logoimag{
     width: 10rem;
   }
   /* .backimage {
  
    height: 35vh;
    border-radius: 0px 0px 40px 40px;
  
  
  } */
}


@media (min-width: 1300px) and (max-width:1350px) {
  .backimage {
  
    height: 21rem;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .instructionimage{
    margin-top: 2rem;
    width: 27rem; 
    position:absolute;
    right: 0;
  }
  .logoimag{
    width: 10rem;
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
  .container{
   
    gap: 5rem;
     padding-left: 13%; 
    padding-right:  13%;
 }



}
@media (min-width: 1350px) and (max-width:1400px) {
  .imgcontainer{
    
  }
  .instructionimage{
    /* margin-top: 7%; */
 width: 29rem;
   position:absolute;
   right: 0;
 }
 .logoimag{
  width: 7rem;
}
.instructiontext li {
  margin-bottom: 10px; /* Oussema */
  font-size: 22px;
}
.instructiontext li b{
margin-bottom: 10px;
font-size: 24px; /* Oussema */
}
}
@media (min-width:1400px) and (max-width:1450px) {
  .instructionimage{

    width: 29rem;
    position:absolute;
    right: 0;
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
  .logoimag{
    width: 13rem;
  }
}
@media (min-width:1450px) and (max-width:1550px) {
  .instructionimage{
    width: 29.5rem; 
    position:absolute;
    right: 0;
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
}
@media (min-width:1550px) and (max-width:1700px) {
  .instructionimage{
    width: 29.5rem; 
    position:absolute;
    right: 0;
  }
}
@media (min-width:1750px)and(max-width:1800px) {

  .instructionimage{
 
    position:absolute;
    right: 0;
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
}

@media (min-width:1810px) and (max-width:1848px){
  .instructionimage{

    position:absolute;
    right: 0;
  }
  .instructiontext li {
    margin-bottom: 10px; /* Oussema */
    font-size: 22px;
  }
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 24px; /* Oussema */
}
}
@media (min-width:1850px) and (max-width:2300px){

  .instructionimage{
    width: 29.5rem; 
    position:absolute;
    right: 0;
  }
  .instructiontext{
    /* font-size: 2em; */
    margin-bottom: 20px;
    margin-top: 40px;
 
  }

  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left: 20px; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px;
    font-size: 1.5em; /* Oussema */
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 1.4rem; /* Oussema */
}

}

@media (min-width: 1500px) and (max-width:1920px) {
  .backimage {
  
    height: 21em;
    border-radius: 0px 0px 40px 40px;
  
  
  }
  .instructionimage{
    margin-top: 2vh;
    width: 28rem; 
    position:absolute;
    right: 0;
  }
  .instructiontext{
    /* font-size: 2em; */
    margin-bottom: 20px;
    margin-top: 40px;
 
  }

  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left: 20px; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px;
    font-size: 1.2em; /* Oussema */
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 1.2rem; /* Oussema */
}
}

@media (min-width: 1920px) and (max-width:2300px) {

  .instructiontext{
    margin-top: 6vh;
    /* font-size: 2em; */
    margin-bottom: 20px;
    margin-top: 40px;
 
  }

  .instructiontext ul {
    list-style-type: disc; /* Ensure the list style is set to bullets */
    padding-left: 20px; /* Add padding to align the bullet points */
}

.instructiontext li {
    margin-bottom: 10px;
    font-size: 1.2em; /* Oussema */
}
.instructiontext li b{
  margin-bottom: 10px;
  font-size: 1.2rem; /* Oussema */
}
}