.dialogOverlay {
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
  font-family: 'Lato';

  }
  .dialogContentInner{
    max-height: 100%;
     
    padding: 20px;
    box-sizing: border-box; 
  }
  .dialogContent {
    background: #F9F9F9;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    /* height: 63vh; Limit height */

    height:37rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
  }
  .dialogContentInner{
    overflow-y: auto;
  }
  
  /* Customize the scrollbar */
  .dialogContent::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .dialogContent::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track (background) */
    border-radius: 10px; /* Rounded corners for track */
  }
  
  .dialogContent::-webkit-scrollbar-thumb {
    background: #888; /* Color of the draggable part */
    border-radius: 10px; /* Rounded corners for thumb */
  }
  
  .dialogContent::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovering over the thumb */
  }
 
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
.closeButton:hover{
 background-color: #CD6214;
  }

  .bookmark{
    font-family: 'Lato';

    
  }
  .underline {
    width: 100%;
    background-color: #D9D9D9;
    padding-top:4px;
    margin-bottom: 5px;
    border-radius: 100px;
    /* margin-top: 10px; */
  }
  .question {
    margin-bottom: 20px;
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    justify-content: space-between;
 gap: 1rem;
 /* border-bottom:1px solid #ee0c0c ; */

  }
  .questionsection{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .questcontainer{
    display: flex;
  }
  .quest{
    color: #2C2C2C;
    font-family: 'Lato';
    font-weight:bold;
    font-size:larger;

  }

  .questunchechked{
    border:none;
    border-radius:20px ;
    background-color:#E8E8E8 ;
    color: #808080;
font-weight: bolder;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: smaller;
  }

  .questchechked{
    border:none;
    border-radius:20px ;
    background-color:rgba(205, 98, 20, 0.14) ;
    color: #CD6214;
font-weight: bolder;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: smaller;
  }


  .menudialog{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .bookmark{
    background-color: #ff080800;
    border: none;
    font-family: 'Lato';
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:1rem;
    color:#9F9F9F;
    cursor: pointer;
    padding: 1rem;
    font-size:larger; 
    font-weight: 900;
  }
  .bookmark:hover {
   color: #CD6214;

  }
  .bookmarked{
    color: #CD6214;
    background-color: #ff080800;
    border: none;
    font-family: 'Lato';
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:1rem;
    cursor: pointer;
    padding: 1rem;
    font-size:larger; 
    font-weight: 900;
  }
  .flagged{
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
  .flagsection {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
  }
  .flagimg{

  }
  .gotoquestion {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .gotoquestion:disabled {
    cursor: not-allowed; /* Change cursor for disabled state */
  }
  .gotoquestionimg {
    display: block; /* Ensure the image is a block element */
    transition: filter 0.3s; /* Smooth transition for hover effect */
  }
  

  .gotoquestionimg:hover {
    filter: sepia(1) saturate(7) hue-rotate(180deg); /* Adjust these values to achieve the desired color effect */
  }
  
  .numberbookmarked{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    color: #2C2C2C;
    font-size: medium;
    width: 2rem; 
    height: 2rem; 
    display: inline-block; 
    text-align: center; 
    line-height: 1rem; 
  }

  @media (min-width: 300px) and (max-width: 327px) {

  }
  
  @media (min-width: 327px) and (max-width: 346px) {
    .dialogContent {
     
      width: 80%;
  
    }
  }
  
  @media (min-width: 346px) and (max-width: 360px) {

  }
  
  @media (min-width: 361px) and (max-width: 390px) {
    .dialogContent {
 
      width: 80%;
    
    }
  }
  
  @media (min-width: 390px) and (max-width: 400px) {
    .dialogContent {
 
      width: 80%;
    
    }
  }
  
  @media (min-width: 400px) and (max-width: 500px) {
    .dialogContent {
 
      width: 80%;
    
    }
  
  }
  
  @media (min-width: 500px) and (max-width: 520px) {
    .dialogContent {
 
      width: 80%;
    
    }
  }
  
  @media (min-width: 520px) and (max-width: 576px) {
    .dialogContent {
 
      width: 80%;
    
    }
  
  }
  
  
  
  @media (min-width: 577px) and (max-width: 699px) {
    .dialogContent {
 
      width: 80%;
    
    }
  
  }
  
  /* For small screens (phones) */
  @media (min-width: 699px) and (max-width: 748px) {  
    .dialogContent {
 
      width: 70%;
    
    }
  }
  
  
  
  
  
  @media (min-width: 748px) and (max-width: 760px) {

    .dialogContent {
 
      width: 70%;
    
    }
  }
  
  @media (min-width: 760px) and (max-width: 800px) {

    .dialogContent {
 
      width: 70%;
    
    }
  }
  
  @media (min-width: 800px) and (max-width: 876px) {
    .dialogContent {
 
      width: 70%;
    
    }
  
  }
  
  
  
  
  
  @media (min-width: 876px) and (max-width: 919px) {
    .dialogContent {
 
      width: 70%;
    
    }
  }
  
  @media (min-width: 919px) and (max-width: 944px) {
    .dialogContent {
   
      width: 70%;

    }
  }
  
  @media (min-width: 945px) and (max-width: 1082px) {
    .dialogContent {
 
      width: 70%;
    
    }
  }
  
  @media (min-width: 1082px) and (max-width: 1100px) {
    .dialogContent {

      width: 70%;

    }
  
   
  
  }
  
  @media (min-width: 1100px) and (max-width: 1200px) {
    .dialogContent {
     
      width: 70%;
  
    }
  
  
  }
  
  /* For extra large screens (large desktops) */
  @media (min-width: 1200px) and (max-width: 1240px) {
    .dialogContent {
  
      width: 70%;
    
    }

  }
  
  
  @media (min-width: 1240px) and (max-width:1350px) {
  
    .dialogContent {
    
      width: 70%;
   
    }
  }
  
  @media (min-width: 1350px) and (max-width:1500px) {
    .dialogContent {
    
      width: 70%;
   height: 31rem;
    }
    
  
  }
  
  @media (min-width: 1500px) and (max-width:1920px) {
    .dialogContent {
    
      width: 70%;
   
    }
  
  
  
  

  }