:root {
  --text-color: #ffffff;
  --font-size-large: 2.5rem;
  --font-size-medium: 2rem;
  --border-radius-large: 50px;
  --border-radius-circle: 50%;
  --border-thickness: 5px;
}

.background_container {
  background: url("../assets/background-image.png") no-repeat center center;
  background-size: cover;
  height: 31vh;
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.cardTitle {
  font-size: 2rem;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.title {
  text-transform: uppercase;
  font-size: var(--font-size-large);
  font-weight: 800;
  position: absolute;
  width: fit-content;
  color: var(--text-color);
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
}

.title::after,
.cardTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-radius: 100px;
  left: 0;
  width: 40%;
  height: 5px;
  background-color: var(--primary-color);
}

.imgProfile {
  position: absolute;
  border-radius: var(--border-radius-circle);
}

.imgProfile {
  bottom: -50%;
  left: 0;
}

.imgContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info {
  position: absolute;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  bottom: -150%;
}

.info > div:first-child p:first-child {
  font-size: 36px;
  font-weight: 700;
}
.info > div:first-child p:nth-child(2) {
  font-size: 32px;
  font-weight: 500;
}

.info > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  font-weight: 600;
}

.main {
  display: flex;
  gap: 5.5rem;
  margin: 5rem 0px;
}

.main .mainContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main .sideBar {
  flex: 1;
}

.sideBar {
  width: 600px;
  height: 100%;
  border-radius: 2.5rem;
  box-shadow: 0px 0px 4px var(--shadow-color);
  padding: 54px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sideBarContainer button {
  display: flex;
  align-items: flex-start;
  gap: 19px;
  padding: 15px 0 15px 26px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 100%;
  cursor: pointer;
  border-radius: 23px;
  transition: background-color 0.3s ease;
}

.sideBarContainer button.active {
  background-color: var(--primary-color);
}
