.container {
  max-width: 452px;
  height: 664px;
  border-radius: 2.5rem;
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 26%);
  padding: 45px 0px 0px 50px;
  margin: 6rem;
}

.container ul {
  list-style-type: disc;
  color: #2c2c2c;
}

.container ul li {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2;
}

.container span {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2;
  padding-left: 5px;
}

.programs {
  display: flex;
  font-size: 1.5rem;
  gap: 20px;
}

.seeMore {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2;
  color: #6990f2;
}
