@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    margin: 0 5px;
}

.nav {
    width: 100%;
    height: 130px;
}

.scndNav {
    width: 97%;
    height: 60px;
    margin: auto;
    border-radius: 13px;
    border: 3px solid #6FC2D0;
    display: flex;
    justify-content: end;
}

.Links {
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Links a {
    text-decoration: none;
    margin: 0 5px;
}

.nav_btn {
    font-size: 22px;
    color: #1C4B82;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.nav_btn_special {
    composes: nav_btn;
    border: 2px solid #FFA41B;
    padding: 5px;
    border-radius: 14px;
}

.nav_btn_special:hover {
    border: 2px solid #1C4B82;
    color: #FFA41B;
    padding: 5px;
    border-radius: 14px;
}

.search {
    flex: 1.4;
    display: flex;
    justify-content: end;
}

.search input {
    height: 50%;
    align-self: center;
    margin-right: 60px;
    border: 2.5px solid #9B0000;
    border-radius: 20px;
    width: 50%;
    padding: 0 10px;
}

@media (max-width:756px) {
    .search {
        justify-content: center;
    }
    .search input {
        margin-right: 0px;
        width: 70%;
    }
}

.search input:focus {
    outline: none;
}

.firstNav {
    width: 95%;
    height: 70px;
    margin: auto;
    display: flex;
}

.logo {
    flex: 1;
    font-size: 36px;
    font-weight: 900;
    color: #1C4B82;
    align-self: center;
}

.logo p {
    color: #1C4B82;
}

.contact {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

.nav_btn_special_contact {
    composes: nav_btn;
    border: 2px solid #1C4B82;
    padding: 5px 10px;
    border-radius: 14px;
}

.nav_btn_special_contact:hover {
    color: white;
    background-color: #1C4B82;
    padding: 5px 10px;
    border-radius: 14px;
}

.language {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #1C4B82;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.language img {
    width: 50px;
    height: 50px;
}

.language p {
    position: absolute;
    color: white;
    font-weight: bold;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}


/*///////////////////////*/


/*/////////ENDNAV////////////////////*/

.MotherDivProfile {
    background: url('../assets/ProfileBack.svg') no-repeat top;
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainDivProfile {
    width: 90%;
    height: auto;
    /* background-color: #1C4B82; */
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}

.rightSectionProfile {
    position: fixed;
    /* background-color: #1c822d; */
    width: 25%;
    height: 60vh;
    right: 90px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scndInfos {
    padding: 20px 0;
    background-color: white;
    height: 90%;
    width: 90%;
    position: sticky;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    display: block;
    transition: margin-top 0.7s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*//////////////////FOOTER////////////////////////////*/

.footer {
    height: 40vh;
    width: 100%;
    background-color: #0E2256;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.FstPart {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.FooterLogo h1 {
    color: #F8C498;
    font-size: 40px;
}

.FooterLogo p {
    margin-left: 50px;
    font-size: 12px;
}

.Adress {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
}

.ScPart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: white;
    height: 80%;
}

.ScPart h1 {
    font-size: 20px;
    font-weight: 500;
}

.ScPart p {
    font-size: 16px;
    font-weight: 300;
}

.ThrdPart {
    display: flex;
    flex-direction: column;
    height: 65%;
    color: white;
}

.ThrdPart h1 {
    font-size: 20px;
    font-weight: 500;
}

.social {
    margin-top: 40px;
    color: #F8C498;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.FrthPart {
    display: flex;
    flex-direction: column;
    height: 65%;
    color: white;
}

.FrthPart h1 {
    font-size: 32px;
}

.SignUpFooter {
    display: flex;
    margin-top: 50px;
    height: 65px;
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
}

.SignUpFooter input {
    height: 65px;
    width: 300px;
    background: none;
    border: none;
    outline: none;
    margin: 0 10px;
    color: white;
}

.SignUpFooter input::placeholder {
    color: white;
}

.SignUpButtonFooter {
    height: 65px;
    width: 180px;
    border-radius: 12px;
    border: none;
    background-color: #FFD2A4;
}

.SignUpButtonFooter p {
    color: #1d281c;
    font-size: 18px;
    font-weight: 900px;
}

.Button {
    margin: 10px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.titleWelcome {
    margin-bottom: 30px;
    font-size: larger
}