.containerTimer {
 
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 100%;

}

.timerSvg {
  transform: rotate(-90deg);
  /* width:140px; */
  width: 50%;
  height:100%;
   z-index: 100;
   /* background-color: #c8ff23; */
}

.timerCircle {
  transition: stroke-dashoffset 0.35s;
  /* transform: rotate(0.25turn); */
  transform-origin: center;
  /* stroke: #F39D6E; */
  /* width:100%;  */


}

.timerCircleBackground {
  stroke: #c8ff23; /* Faded color for the background */
}

.timerCircleForeground {
  stroke: #000000; /* Primary color for the timer */
}

.timerText {
  position: absolute;
  top: 50%;
   left: 75%; 
  transform: translate(-50%, -50%);
  font-size: 1rem;
  stroke: #ffffff; 
  font-weight: bold;
  color: white;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.timerLabel {
  font-size:12px; /* Adjust font size as needed */
  /* font-weight: bold; */
  font-weight: lighter;
  color: white;
align-self: center;
  
}
@media (max-width: 326px) {
  
}

@media (min-width: 327px) and (max-width: 366px) {
 
}

@media (min-width: 366px) and (max-width: 380px) {
  .timerText {
    position: absolute;
    top: 50%;
     left: 75%; 
    transform: translate(-50%, -50%);
    font-size: 1rem;
    stroke: #ffffff; 
    font-weight: bold;
    color: white;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }
  .timerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
   
  }
  .timerSvg{
    width:50%;
    height: 100%;
  }
}

@media (min-width: 380px) and (max-width: 470px) {
  .containerTimer {
 right: 1%;
  }
}

@media (min-width: 470px) and (max-width: 530px) {

}


@media (min-width: 530px) and (max-width: 575px) {


}
@media (min-width: 575px) and (max-width: 650px) {

}


@media (min-width: 650px) and (max-width: 700px) {

}


@media (min-width: 700px) and (max-width: 760px) {
 
}
@media (min-width: 760px) and (max-width: 800px) {

}


@media (min-width: 800px) and (max-width: 876px) {


  
}


@media (min-width: 876px) and (max-width: 900px) {

}
@media (min-width: 900px) and (max-width: 940px) {

}
@media (min-width: 940px) and (max-width: 1020px) {
  
 
}
@media (min-width: 1021px) and (max-width: 1082px) {
  
  
}
@media (min-width: 1082px) and (max-width: 1500px) {



}


@media (min-width: 1500px) and (max-width: 1200px) {

}

@media (min-width: 1200px) and (max-width:1350px) {


}
@media (min-width: 1350px) and (max-width:1400px) {

}
@media (min-width:1400px) and (max-width:1450px) {
 
}
@media (min-width:1450px) and (max-width:1550px) {

}
@media (min-width:1500px) and (max-width:1700px) {
 
}
@media (min-width:1750px)and(max-width:1800px) {

}

@media (min-width:1810px) and (max-width:1848px){

}
@media (min-width:1850px) and (max-width:2300px){

}

@media (min-width: 1500px) and (max-width:1920px) {

}

@media (min-width: 1920px) and (max-width:2300px) {


}