.containerTimer {
  /* position: fixed; */
  /* right: 0; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* margin-right: 10px; Optional: Adjust margin to suit your layout */
}

.timerContainer {
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: relative;
  /* width: 120px;
  height: 120px; */
 
}

.timerSvg {
  transform: rotate(-90deg);
  /* width:140px; */
  width: 100%;
  height: 100%;
   z-index: 100;
   /* background-color: #c8ff23; */
}

.timerCircle {
  transition: stroke-dashoffset 0.35s;
  /* transform: rotate(0.25turn); */
  transform-origin: center;
  /* stroke: #F39D6E; */
  /* width:100%;  */


}

.timerCircleBackground {
  stroke: #c8ff23; /* Faded color for the background */
}

.timerCircleForeground {
  stroke: #000000; /* Primary color for the timer */
}

.timerText {
  position: absolute;
  top: 50%;
   left: 48%; 
  transform: translate(-50%, -50%);
  font-size: 1rem;
  stroke: #ffffff; 
  font-weight: bold;
  color: white;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.timerLabel {
  font-size:12px; /* Adjust font size as needed */
  /* font-weight: bold; */
  font-weight: lighter;
  color: white;
align-self: center;
  /* margin-bottom: 5px; Optional: Adjust margin for spacing */
}