.btnstyle {
  border: none;
  min-width: 5rem;
  border-bottom: 0.2px gray;
  color: #9c9b9b;
  background-color: transparent;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.image {
  width: 30px;
  height: 30px;
}
.btnselectedstyle {
  border: none;
  background-color: #eaeaea;
  border-bottom: 5px solid #cd6214;
  color: black;
}
