.btn {
  background: #3e4678;
  border-radius: 12px;
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
  display: grid;
  place-items: center;
  padding: 7px 20px;
  width: fit-content;
}

.outline {
  border: 1px solid #3e4678;
  color: #3e4678;
  background-color: transparent;
}
